<%= form_for genre do |f| %>
<table>
  <tr>
    <td><%= f.label :name%></td>
    <td><%= f.text_field :name%></td>
  </tr>
<tr>
<td><%= f.submit %></td>
</tr>
<tr>
  <td><%= link_to "<button>Go Back</button>".html_safe, genres_path, :id => "button_id", :class => "button_class" if user_signed_in?%></td>
</tr>
</table>
<% end %>
