<%= form_for person do |f| %>
<table>
  <tr>
    <td><%= f.label :name%></td>
    <td><%= f.text_field :name%></td>
  </tr>
<tr>
  <td><%= f.label :dob, 'Date of Birth'%></td>
  <td><%= f.date_field :dob%>
</td>
</tr>
<tr>
<td><%= f.submit %></td>
</tr>
</table>
<% end %>
