<h1><%=@person.name%></h1>
<h2><%="Director " if !@directed_movies.empty?%><%="Writer " if !@written_movies.empty?%><%="Actor" if !@characters.empty?%></h2>
<h2>Date of Birth: <%=@person.dob%></h2>


<% if !@directed_movies.empty?%>
<h3><%=link_to "Directed Movies", directed_movies_path(@person.slug) %></h3>
<%= render partial:'movie_list', locals: {movies: @directed_movies} %>


<%end%>

<% if !@written_movies.empty?%>
<h3><%=link_to "Written Movies", written_movies_path(@person.slug) %></h3>
<%= render partial:'movie_list', locals: {movies: @written_movies} %>
<%end%>

<% if !@characters.empty?%>
<h3><%=link_to "Filmography", filmography_path(@person.slug) %></h3>
<%= render partial:'filmography', locals: {characters: @characters} %>
<%end%>
