<%= form_for movie do |f| %>

<table>
  <tr>
    <td><h3><%= f.label :title%></h3></td>
    <td><%= f.text_field :title%></td>
    <td><h3><%= f.label :release_date%></h3></td>
    <td><%= f.number_field :release_date%></td>
  </tr>
<tr>
  <td><h3>Genres:</h3></td>
  <td><%= f.select :genre_ids, options_from_collection_for_select(@genres, :id, :name, f.object.genre_ids), {}, {:multiple => true} %></td> 
  <td>Or create a new genre:</td>
  <%= f.fields_for :genres, movie.genres.build do |genres_fields| %>
    <td><%= genres_fields.text_field :name %></td>
  <% end %>
</tr>
<tr>
  <td><h3><%= f.label :director%></h3></td>
  <td><%=  f.collection_select :director_id, @people,:id,:name, include_blank: true %></td>
  <td>Or create a new director:</td>
  <%= f.fields_for :director, movie.build_director do |director_attribute|%>
    <td><%= director_attribute.text_field :name %></td>
    <td><%= director_attribute.label :dob, "DOB:" %></td>
    <td><%= director_attribute.date_field :dob %></td>
  <% end %>
</tr>
<tr>
  <td><h3><%= f.label :writer%></h3></td>
  <td><%=  f.collection_select :writer_id, @people,:id,:name, include_blank: true %></td>
  <td>Or create a new writer:</td>
  <%= f.fields_for :writer, movie.build_writer do |writer_attribute|%>
    <td><%= writer_attribute.text_field :name %></td>
    <td><%= writer_attribute.label :dob, "DOB:" %></td>
    <td><%= writer_attribute.date_field :dob %></td>
  <% end %>
</tr>
<tr>
  <td><h3>Cast</h3></td>
</tr>
<%= f.fields_for :characters do |character_fields| %>

<tr>

  <td> <strong>Actor:</strong></td>
  <td><%=  character_fields.collection_select :actor_id, @people,:id,:name, include_blank: true %></td>
  <td><strong> Character Name:</strong></td>
  <td><%=character_fields.text_field :name%></td>
  <td>Or create a new actor:</td>
  <%= character_fields.fields_for :actor, movie.actors.build do |actor_attribute| %>
    <td><%= actor_attribute.text_field :name %></td>
    <td><%= actor_attribute.label :dob, "DOB:" %></td>
    <td><%= actor_attribute.date_field :dob %></td>
  </tr>

  <% end %>
  <% end %>

<tr>

</tr>
<tr>
  <td><%= f.submit %></td>
</tr>
</table>
<% end %>
