<%= form_for movie do |f| %>
<table>
  <tr>
    <td><%= f.label :title%></td>
    <td><%= f.text_field :title%></td>
  </tr>
<tr>
    <td><%= f.label :genre%></td>
    <td><%=  f.collection_select :genre_id, Genre.order(:name),:id,:name, include_blank: true %></td>
<td>Or create a new genre:</td>

    <td>

  <%= f.fields_for :genre, Genre.new do |genre_attributes|%>
      <%= genre_attributes.label :name, "Genre Name:" %></td><td>
      <%= genre_attributes.text_field :name %>
  <% end %></td>
</tr>
<tr>
  <td><%= f.label :director%></td>
  <td><%=  f.collection_select :director_id, Person.order(:name),:id,:name, include_blank: true %></td>
</tr>
<tr>
  <td><%= f.label :writer%></td>
  <td><%= f.collection_select :writer_id, Person.order(:name),:id,:name, include_blank: true %></td>
  <td>Or create a new writer:</td>



    <%= f.fields_for :writer, Person.new do |writer_attributes|%>
        <td><%= writer_attributes.label :name, "Name:" %></td><td>
        <%= writer_attributes.text_field :name %>
    </td><td><%= writer_attributes.label :dob, "DOB:" %></td><td>
    <%= writer_attributes.date_field :dob %>
</td>
    <% end %>
</tr>
<tr>
  <td><%= f.label :release_date%></td>
  <td><%= f.number_field :release_date%>
</td>
</tr>
<tr>
<td><%= f.submit %></td>
</tr>
</table>
<% end %>
