<%= form_for movie do |f| %>
<table>
  <tr>
    <td><%= f.label :title%></td>
    <td><%= f.text_field :title%></td>
  </tr>
<tr>
  <td>Genres:</td>
    <td><%= f.collection_check_boxes :genre_ids, @genres, :id, :name %></td>
  <td>Or create a new genre:</td>

  <td><%= f.fields_for :genres, movie.genres.build do |genres_fields| %>
  <%= genres_fields.text_field :name %></td>
<% end %>
</tr>
<tr>
  <td><%= f.label :director%></td>
  <td><%=  f.collection_select :director_id, Person.order(:name),:id,:name, include_blank: true %></td>
  <td>Or create a new director:</td>
    <%= f.fields_for :director, movie.build_director do |director_attribute|%>
        <td>
        <%= director_attribute.text_field :name %>
    </td><td><%= director_attribute.label :dob, "DOB:" %></td><td>
    <%= director_attribute.date_field :dob %>
</td>
  <% end %>
</tr>
<!-- <tr>
  <td><%= f.label :writer%></td>
  <td><%= f.collection_select :writer_id, Person.order(:name),:id,:name, include_blank: true %></td>
  <td>Or create a new writer:</td>
    <%= f.fields_for :writer, movie.build_writer do |writer_attributes|%>
        <td><%= writer_attributes.label :name, "Name:" %></td><td>
        <%= writer_attributes.text_field :name %>
    </td><td><%= writer_attributes.label :dob, "DOB:" %></td><td>
    <%= writer_attributes.date_field :dob %>
</td>
    <% end %>
</tr> -->
<tr>
  <td><%= f.label :release_date%></td>
  <td><%= f.number_field :release_date%>
</td>
</tr>
<tr>
<td><%= f.submit %></td>
</tr>
</table>
<% end %>
