<h1><%=@movie.title%></h1>
<h2>
<% @genres.each do |genre|%>
<%=link_to genre.name, genre_path(genre.slug) %>
<% end%></h2>
<h2>Release Date: <%=@movie.release_date%></h2>
<h3>Director: <%=link_to @director.name, person_path(@director.slug) if !@director.nil?%></h3>
<h3>Writer: <%=link_to @writer.name, person_path(@writer.slug) if !@writer.nil?%></h3>
<h3>Cast:</h3>

<table>
  <thead>
    <th>Actor</th>
    <th>Character</th>
  </thead>
  <% @characters.each do |character| %>
  <tr>
    <td><%=link_to character.actor.name, person_path(character.actor.slug)%></td>
    <td><%=character.name%></td>
    <td><%=link_to "X",character_path(character), :method=> :delete%></td>
  </tr>
  <%end%>
</table>

<p><%=link_to "Edit", edit_movie_path(@movie.slug)%> | <%=link_to 'Delete', movie_path(@movie.slug),
            data: {:confirm => 'Are you sure?'}, :method => :delete %></p>
