<!DOCTYPE html>
<html>
  <head>
    <title>MovieDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
 var idx=window.location.toString().indexOf("#_=_");
   if (idx > 0) {
     window.location = window.location.toString().substring(0, idx);
   }
</script>
  </head>
  <nav class='nav'>

  <ul>
    <li><%= link_to 'Home', root_path%></li>
    <li><%= link_to 'Movies', movies_path%></li>
    <li><%= link_to 'People', people_path%></li>
    <!-- <li><%= link_to 'Reviews', reviews_path%></li> -->
    <% if user_signed_in? %>
      <li style="float:right"><%= link_to 'Logout', destroy_user_session_path, method: :delete%></li>
      <li style="float:right"><%= link_to 'Edit Profile', edit_user_registration_path%></li>
      <!-- <li style="float:right"><%= link_to 'My Profile', user_path(current_user)%></li> -->

    <%else%>
      <li style="float:right"><%= link_to 'Sign up', signup_path%></li>
      <li style="float:right"><%= link_to 'Login', login_path%></li>
    <%end%>
  </ul>

</nav>
  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
